/nvim/.config/github-copilot/apps.json
/nvim/.config/ngrok/
geo.toml
nvim/.config/go/telemetry/*
/bash/.bash_history
/kitty/.config/kitty/kitty.conf
/personal/
nvim/.config/htop/htop_history


flycheck_config.el
